@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  margin: 0;
  position: fixed;
}
.music-container {
  background-color: transparent;
  background-position: center;
  display: flex;
  padding: 2rem 3rem;
  position: relative;
  margin: 10rem 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  box-shadow: 0 2rem 2rem 0 rgb(22, 20, 20);
}

.img-container {
  position: absolute;
  width: 100%;
  margin-top: 70rem;
  margin-left: 48%;
  transform: translateX(-50%);
  z-index: -1;
}

.img-container img {
  object-fit: cover;
  height: 73rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navigation {
  background-color: rgb(8, 8, 7, 0.8);
  border-radius: 2rem;
  height: 12rem;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  margin-top: 55rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.action-btn {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  padding: 1rem 9rem;
  margin: 0 2rem;
  text-align: center;
}

.action-btn.action-btn-big {
  color: #fff;
  font-size: 5rem;
}

.action-btn:focus {
  outline: 0;
}

.action-btn:active {
  transform: scale(0.9);
}

.music-info {
  box-shadow: 0 2rem 2rem 0 rgb(22, 20, 20);
  height: 17.5rem;
  background-color: rgb(8, 8, 7, 0.8);
  color: white;
  border-radius: 1.5rem;
  position: absolute;
  top: 0;
  left: 2rem;
  width: calc(100% - 4rem);
  padding: 2rem 5rem;
  text-align: center;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
  margin-top: 18rem;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(40%);
}

.music-info h2 {
  margin: 3rem;
}

.progress-container {
  background: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.5rem 0rem;
  height: 0.6rem;
  width: 100%;
}

.progress {
  background-color: #003638;
  border-radius: 0.5rem;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.fas.fa-circle {
  margin-left: 99%;
  transform: translateY(-40%);
  color: #003638;
  background-color: #003638;
  font-size: 2.5rem;
  border-radius: 50%;
  border: 0.24rem solid white;
}

.time {
  display: flex;
  justify-content: space-between;
}

#volume-control {
  position: absolute;
  -webkit-appearance: none;
  height: 0.5rem;
  border-radius: 0.3rem;
  width: 10%;
  transform: translateX(50%);
  outline: none;
  bottom: 7.5rem;
  right: 18rem;
  cursor: pointer;
}

#volume-control::-webkit-slider-thumb {
  background-color: #003638;
  border: 0.2rem solid #fff;
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  z-index: 3;
  cursor: grab;
}

#volume-control::-webkit-slider-thumb:active {
  cursor: grabbing;
}

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 35%;
  }
}
